@font-face {
    font-family: MoveSansBold;
    src: url("../../assets/fonts/MoveSans-Bold.otf")
}

.read-more-links {
    font-weight: 900;
    color: #036048;
    font-size: 12px;
    margin: 0; 
}

.multi-line-ellipsis {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Clamp to two lines */
    line-height: 1.2em; /* Set line height for control */
    max-height: 4; /* Control based on line-height (1.5em * 2 lines) */
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0; 
  }

.title-header-text {
    line-height: 1.2em;
    margin: 0; 
}

.article-container {
    width: 100vw; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column;
    gap: 1.5em; 
    align-items: center;
}

.article-div {
    display: flex; 
    justify-content: center;
    width: 100vw; 
}

.article-img {
   min-height: 100%; 
   max-height: 100%; 
   min-width: 50%;
   max-width: 50%; 
   object-fit: cover; 
   overflow: hidden;
}

.article-card {
    background-color: #F9F9F7;
    border-radius: 24px;
    overflow: hidden;
    min-height: 130px; 
    max-height: 130px; 
    width: 90%; 
    display: flex; 
    flex-direction: row;
}

.inter-container {
    display: flex;
    gap: 1em; 
    margin: 0; 
}

.comp-divider {
    height: 3px; 
    width: 90vw;
    padding: 0; 
    margin-top: -2em; 
}

.header-text {
    font-family: MoveSansBold, sans-serif;
    font-size: 32px;
    margin-top: 1em;
}

.header-container {
    margin: 20px 20px 20px 20px;
}

